SubWindow
{
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    background-image: url(../data/interface/parchment.png);
}

QWidget
{
    background-color: transparent;
    color: white;
}
    
