SubWindow
{
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    background-image: url(../data/interface/parchment.png);
}

QLabel#title
{
    font-size: 24px;
}

QPushButton#closeButton
{
    
}

QWidget#subWindowWidget
{
    background-color: transparent;
    color: white;
}
    
